.cont.cont-three[_ngcontent-ng-c327833444] {
    position: absolute; 
    top: 45%;
    left: 40%;
    width: 200px;
    z-index: -999;
    height: 200px;
    border-radius: 20px; 
    transform: scale(-1, 1); 
}

.cont[_ngcontent-ng-c327833444] {
    width: 362px;
    position: absolute;
    mix-blend-mode: multiply;
    z-index: 2;
    opacity: 20%;
    border-radius: 600px;
    background: linear-gradient(180deg, #a89ffe 0%, #4e1ce3 100%);
}

.cont.cont-three[_ngcontent-ng-c327833445] {
    position: absolute; 
    top: 15%;
    z-index: -999;
    left: 53%;
    width: 200px;
    height: 200px;
    border-radius: 20px; 
    transform: scale(-1, 1); 
}

.cont[_ngcontent-ng-c327833445] {
    width: 362px;
    position: absolute;
    mix-blend-mode: multiply;
    z-index: 2;
    opacity: 70%;
    border-radius: 600px;
    background: linear-gradient(90deg, #26a5f4 0%, #9aebf5 100%);
}

.cont.cont-three[_ngcontent-ng-c327833446] {
    position: absolute; 
    top: 45%;
    z-index: -999;
    left: 83%;
    width: 200px;
    height: 200px;
    border-radius: 20px; 
    transform: scale(-1, 1); 
}

.cont[_ngcontent-ng-c327833446] {
    width: 362px;
    position: absolute;
    mix-blend-mode: multiply;
    z-index: 2;
    border-radius: 600px;
    background: linear-gradient(-50deg, #151e55 100%, #24359e 0%);
}

.cont.cont-three[_ngcontent-ng-c327833447] {
    position: absolute; 
    top: 85%;
    z-index: -999;
    left: 83%;
    width: 150px;
    height: 150px;
    border-radius: 50px; 
    transform: scale(-1, 1); 
}

.cont[_ngcontent-ng-c327833447] {
    width: 362px;
    position: absolute;
    mix-blend-mode: multiply;
    z-index: 2;
    border-radius: 600px;
    background: linear-gradient(-50deg, #5769de 100%, #c5ccf6 0%);
}

.home img {
    position: absolute; 
    top: 27%;
    left: 63%;
    width: 400px;
    height: 500px;
    object-fit: cover;
    z-index: -995;
    border-radius: 40px 12px 18px 15px;
}

.home {
    overflow-x: hidden;
}

.hero {
    width: 40%;
    padding-top: 100px;
    margin-left: 40px;
}

.hero h1 {
    font-size: 4.2rem;
    color: #151e55;
    line-height: 70px;
    font-family: 'Poppins';
}


.under {
    color: #3142b5;
}

.search {
    display: flex;
    justify-content: space-between;
    border-radius: 9px;
    margin-left: 60px;
    width: 70%;
    padding: 10px 20px;
    background-color: white;
}

input {
    border: none;
    width: 80%;
    padding: 8px;
    border-radius: 6px;
}

.input.active {
    border: none;
}

.search::placeholder {
    color: rgba(134, 134, 134, 0.715);
    letter-spacing: 1px;
}

.search button {
    border: none;
    padding: 10px 15px;
    background-color: #1676dd;
    border-radius: 5px;
    color: white;
}

.info-sec {
    display: flex;
    margin-top: 70px;
}

.info-sec-inner {
    height: 20vh;
    width: 60%;
    padding: 10px;
    border-radius: 13px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.info-sec-inner h2{
    font-size: 1.0rem;
    color:#171e54;
}

.info-sec-inner p {
    font-size: 0.8rem;
}

.home-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    border-right:1px solid purple;
    padding-right: 30px;
    width: 30%;
    height: 90%;
}

.home1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
}

.home1 ul li{
   list-style:square;
}
.home1 a{
    text-decoration: none;
    font-weight: 600;
    border-radius: 13px;
    padding: 5px;
}

.home1 a:hover{
    text-decoration: dashed;
}

.home1 ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: auto;
}
.contact {
    display: flex;
    flex-direction: row;
}

.timer {
    font-weight: 600;
    color: #151e55;
}

.time, .service {
    display: flex;
    flex-direction: row;
}

.time i, .service i, .contact i{
    font-size: 4.0rem;
    margin-right: 20px;
}

.contact svg, .time svg{
    margin-top: 30px;
    margin-right: 20px;
    color: purple;
}

.homecard-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    border-right:1px solid purple;
    padding-right: 30px;
    width: 80%;
}


.contact h2 svg{
    color: #151e55;
    background-color: #151e55;
}

.service {
    margin-right: 30px;
    border: none;
}

.home-card p {
    text-align: left;
}

.label1 {
    margin-top: 50px;
    width: 150px;
    color:purple;
    margin-left: 5%;
}

.label1 h3{
    font-size: 1.0rem;
    border-radius: 7px;
    padding: 8px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.services {
    padding: 50px 20px;
    background-color: #f4f5f9;
    text-align: center;
  }
  
  .services h2 {
    font-size: 2.5rem;
    text-align: left;
    color: #121212;
    width:60%;
    margin-bottom: 20px;
    margin-left: 70px;
  }

  .cta-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cta-home button{
    border: none;
    margin-right: 150px;
    padding: 20px 30px;
    color: white;
    font-size: 0.8rem;
    border-radius: 7px;
    background-color: #151e55;
  }
  
  .services-list {
    padding-left: 550px;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    font-size: 0.8rem;
  }

  .services-list::-webkit-scrollbar {
    height: 0px;
  }

  .services-list::-webkit-scrollbar-thumb {
    background-color: #151e55;
    border-radius: 7px;
  }
  
  .service-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    font-size: 0.8rem;
  }

  .serv-icons {
    background-color: #e4e3f9;
    border-radius:20px 20px 0 0;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
  }

  .attribute{
    font-size: 0.4rem;
  }

  .serv-info {
   padding: 20px;
   font-size: 0.8rem;
  }

  .serv-info .attribution {
    font-size: 0.8rem;
    color: #6c757d; /* Light grey or another subtle color */
    position: absolute;
    bottom: 10px;
    left: 0;
  }
  
  .serv-info a {
    color: #007bff;
    text-decoration: none;
  }
  
  .serv-info a:hover {
    text-decoration: underline;
  }

  .service-item img{
    width: 50%;
    opacity: 70%;
  }
  
  .service-item h3 {
    color: #151e55;
  }
  
  .service-item p {
    color: #333;
  }
  

  .location {
    padding: 20px;
    border-radius: 13px;
    background-color: #f9f9f9;
    text-align: center;
    margin-top: 20px;
  }
  
  .location h2 {
    font-size: 2.5rem;
    text-align: left;
    color: #121212;
    width:60%;
    margin-bottom: 20px;
    margin-left: 70px;
  }
  
  .location p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .map-container {
    display: flex;
    justify-content: center;
  }
  
  iframe {
    border: 0;
  }
  
  .open-maps {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #4285F4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .open-maps:hover {
    background-color: #357ae8;
  }
  
  

@media (max-width: 768px) {
    .cont.cont-three[_ngcontent-ng-c327833444],
    .cont.cont-three[_ngcontent-ng-c327833445],
    .cont.cont-three[_ngcontent-ng-c327833446],
    .cont.cont-three[_ngcontent-ng-c327833447] {
        width: 120px;
        height: 100px;
        border-radius: 10px;
    }

    .label1 {
        margin-right: 60%;
    }


   .cont.cont-three[_ngcontent-ng-c327833447] {
    display: none;
   }

    .cont.cont-three[_ngcontent-ng-c327833446]{
     display: none;
    }

    .cont.cont-three[_ngcontent-ng-c327833445] {
        display: none;
    }

    .cont.cont-three[_ngcontent-ng-c327833444] {
       display: none;
    }


    .cont[_ngcontent-ng-c327833444],
    .cont[_ngcontent-ng-c327833445],
    .cont[_ngcontent-ng-c327833446],
    .cont[_ngcontent-ng-c327833447] {
        width: 200px;
        height: 200px;
        border-radius: 300px;
    }

    .home img {
        position: static;
        width: 90%; 
        height: auto;
        max-width: 420px; 
        margin: 30px auto;
        display: block; 
    }
     
    #home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }

    .info-sec {
        background-color: none;
        margin: 0;
        height: 100vh;
    }

    .info-sec-inner {
        margin-top: 0px;
        display: block;
        background-color: #f4f5f9;
    }

    .home-card {
        border: none;
    }
    
    .hero {
        display: block;
        padding: 10px;
        max-width: 90%;
        width: 90%;
        margin: auto;
    }

    .hero h1 {
        font-size: 2.5rem;
        line-height: 50px;
    }

    .search{
        width: 70%;
        margin: auto;
    }

    .search button {
        padding: 8px 10px;
    }


    .services h2 {
        width: 90%;
        font-size: 1.5rem;
    }

    .cta-home {
        width: 90%;
        margin: auto;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cta-home h2{
        font-size: 1.5rem;
    }

    .cta-home button {
        margin: auto;
    }

    .services-list {
        padding-left: 10px;
        flex-direction: column;
        overflow-x: hidden;
    }

    .service-item {
        width: 87.5%;
    }

    .serv-icon {
        width: 100%;
    }

    .home1 {
        width: 100%;
    }
}
